<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block scripts %}
<!--    bootstrap css & js cdn-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--bootstrap local css    -->
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    {% endblock scripts %}
    <title>Title</title>
</head>
<header>
    {% block nav %}
    {% endblock nav %}
</header>
<body>
    {% block content %}
    {% endblock content %}
</body>
<footer>
    {% block footer %}
    {% endblock footer %}
</footer>
</html>
