<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% block scripts %}
  <!--    bootstrap css & js cdn-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!--  fonts-->
  <script src="https://use.fontawesome.com/94a8f19279.js"></script>
  <!--bootstrap local css    -->
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
  {% endblock scripts %}
  <title>Title</title>
</head>
<header>
  {% block nav %}
  {% endblock nav %}
</header>

<body>
  {% block content %}
  {% endblock content %}
</body>

</html>
