{% extends "base.html" %}
{% include "header.html" %}

{% block content %}
<div class="container-fluid justify-content-center px-0 ">
  <div class="card py-5 border-0 px-0 mx-0">
    <div class="card-body text-center">
      <div class="row  justify-content-center">
        <div class="col-auto">
          <h6><b>Still have more questions ?</b></h6><small class="text-muted">Call/Text <span class="mx-2"><b>+91.1630.412.999</b></span>and with real person.</small>
          <div class="row justify-content-center">
            <div class="col-10"><button type="button" class="btn btn-primary btn-lg btn-block my-5">Try it for free</button>
              <h6> <b>100% Money Back Guarantee</b></h6> <small class="text-muted">If you'r not satsified for any reason, we'll refund your money</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% include "footer.html" %}
